
.memeWrapper{

   
}
.memes {
    text-align: center;
padding-top: 3rem;
padding-bottom: 7rem;
z-index: 10;
position: relative;

}
@keyframes scrollX {
    from {
        left: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.gridContainer {
    width: 80%;
    margin: 20px auto;
    columns: 3;
    order: revert;
    column-gap: 20px;

}

.gridContainer .box {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.gridContainer .box img {
max-width: 100%;
border-radius: 15px;
}
.gridContainer .box video {
    width: 100%;
    border-radius: 15px;
    }
@media (max-width: 1200px){
    .gridContainer {
        width: calc(100% - 40px);
        columns: 2;
    }
}

@media (max-width: 768px){
    .gridContainer {
        columns: 2;
    }
}

@media (max-width: 480px){
    .gridContainer {
       
        columns: 1;
    }
}