.memeWrapper {
}
.memes {
  text-align: center;
  padding-top: 3rem;

  position: relative;
}
@keyframes scrollX {
  from {
    left: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.gridContainer {
  width: 80%;
  margin: 20px auto;
  columns: 3;
  order: revert;
  column-gap: 20px;
}

.gridContainer .box {
  width: 100%;
  margin-bottom: 10px;
  z-index: 10;
  position: relative;
  break-inside: avoid;
}

.gridContainer .box img {
  max-width: 100%;
  border-radius: 15px;
}
.gridContainer .box video {
  width: 100%;
  border-radius: 15px;
}
@media (max-width: 1200px) {
  .gridContainer {
    width: calc(100% - 40px);
    columns: 2;
  }
}

@media (max-width: 768px) {
  .gridContainer {
    columns: 2;
  }
}

@media (max-width: 480px) {
  .gridContainer {
    columns: 1;
  }
}

.memeTitle {
  text-shadow: 1px 1px 2px black;
  margin-bottom: 6rem;
  position: relative;
  z-index: 10;
}
