.roadmapWrapper {
    padding-right: 12%;
    padding-left: 12%;
}

.roadmap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
    
}

.roadMapItem {
    display: flex;
    padding: 16px;
    border-radius: 16px;
    background: linear-gradient(90deg, rgba(220,31,255,1) 0%, rgba(0,255,163,1) 100%);
    outline: 2px solid white;
    margin: 20px 0;
    width: 30%;
    word-break: break-word;
    justify-content: space-between;
    height: auto;
}

.roadmapList{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-self: center;
    justify-content: space-between;
}
@media (max-width: 600px) {
    .roadmapList{
        flex-direction: column;
    }
    .roadMapItem { 
        width: 80%;
    }

}
.number{
    height: 100px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6px;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    border: 1px solid white;
    border-radius: 20px;
}