.tokenomics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
}

 .tokenomicsItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}
@media (max-width: 600px) {

    .tokenomicsItems {
        flex-direction: column;
    }
    .tokenomicsItem {
        margin-bottom: 20px;
    }
}

.tokenomicsImg {
    width: 50%;
    border: 8px solid #FF8CD3;
    border-radius: 200px;
    box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.3);
}

.tokenomicsItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tokenomics h2 {
  margin-bottom: 2rem;
  text-overflow: ellipsis;
  word-break: break-word;
  text-shadow: 1px 1px 2px black;
    
}

.tokenomicsInfo h3 {
 font-size: 30px;
 text-shadow: 1px 1px 2px black;
 
}